@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 100;
  src: url(SpoqaHanSansNeo-Thin.ttf) format('ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 300;
  src: url(SpoqaHanSansNeo-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  src: url(SpoqaHanSansNeo-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  src: url(SpoqaHanSansNeo-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  src: url(SpoqaHanSansNeo-Bold.ttf) format('ttf');
}
